fastapi
uvicorn[standard]
SQLAlchemy
aiosqlite
aiohttp
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
email-validator
numpy
scikit-learn
sentence-transformers
hdbscan
networkx
python-dotenv
